{{! This should be a controller }}
{{! But blocked from api... }}

<Form {{on 'submit' this.submitForm}} @header='Register' @error={{this.error}}>
  <label data-test-email-label>
    Email
    <Input
      data-test-email-input
      @type='email'
      @value={{this.email}}
      placeholder='Enter email'
    />
  </label>
  <label data-test-name-label>
    Name
    <Input
      data-test-name-input
      @type='text'
      @value={{this.name}}
      placeholder='Enter name'
    />
  </label>
  <label data-test-age-label>
    Age
    <Input
      data-test-age-input
      @type='number'
      @value={{this.age}}
      placeholder='Enter age'
    />
  </label>
  <label data-test-password-label>
    Password
    <Input
      data-test-password-input
      @type='password'
      @value={{this.password}}
      placeholder='Enter password'
    />

  </label>
  {{this.password}}
  {{! TODO: Loading feedback on button }}
  <button
    data-test-submit-button
    type='submit'
    class='btn btn-primary'
  >Submit</button>
</Form>