<Form {{on 'submit' this.submitForm}} @header='Register' @error={{this.error}}>
  <label>
    Email:
    <Input @type='email' @value={{this.email}} placeholder='Enter email' />
  </label>
  <label>
    Name:
    <Input @type='text' @value={{this.name}} placeholder='Enter name' />
  </label>
  <label>
    Age:
    <Input @type='number' @value={{this.age}} placeholder='Enter age' />
  </label>
  <label>
    Password:
    <Input
      @type='password'
      @value={{this.password}}
      placeholder='Enter password'
    />
  </label>
  {{! TODO: Loading feedback on button }}
  <button type='submit' class='btn btn-primary'>Submit</button>
</Form>